@charset "gbk";

/* global */
body{color:#000000;margin:0; padding:0;font-size:14px;
font-family:"微软雅黑","幼圆","Helvetica Neue",Helvetica, Arial, sans-serif;
background: url(../../images/simap/bg.jpg) repeat;}
div,form,img,ul,ol,li,dl,dt,dd,p {margin:0;padding:0;border:0;}
li{list-style-type:none;}
img{vertical-align:middle;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal; color:#00F;}
.clear{clear:both;}
.fleft {float:left;}
.fright {float:right;}
.tcenter {text-align:center;}
.tright {text-align:right;}
.bgNone {background:none !important}
.bdNone {border:none !important}
.blank {height:30px;clear:both;}
.mNo {margin:0;padding:0;}

/* 更多*/
.gengduo { margin-right:10px;}

/* body-top */
.wrap{background: url(../../images/simap/body_bg.gif) repeat-x scroll 0 0 #fff;}

/*20160712
.body_0 {width: 100%;height: auto;background: url(../../images/simap/yu.jpg) repeat-x;}
.body_1 {width: 1024px;height: auto;background: url(../../images/simap/bid1.jpg);margin: 0 auto;}
.body_2 {width: 1000px;height: auto;margin: 0 auto;background: #fff;}
*/

.body_0 {width: 100%;height: auto;}
.body_1 {width: 1024px;height: auto;margin: 0 auto;}
.body_2 {width: 1000px;height: auto;margin: 0 auto;background: #fff;}

/* top */
.top{width: 100%;height: 94px;}
.top{width: 468px;float: left;}

/* 滚动公告 
#announ{ height:22px; line-height:22px; overflow:hidden; float:left;background: url(../../images/simap/header/icon.png) no-repeat left -461px; padding-left:20px}
*/


/* area */
.area {width:1000px;margin:0 auto;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.ml20 {margin-left:20px;}
.mb5 {margin-bottom:5px;}
.mr10 {margin-right:10px;}
.mr15{margin-right:0}

/* Home header navigation style 
a.logo
{
	float:left;
	padding:9px 7px;
	width:256px;
	height:61px;
    padding-top:10px;
	background:transparent url(../../images/simap/header/ccisr.png) no-repeat scroll left ;
}

*/

/*

.gundongtongzhi
{
	float:left; 
	height:22px;
}

.gundongtongzhi li a{*color:#ffffff;color:#ffffff;}
.gundongtongzhi li a:hover{color:#fd5f00;}
*/


/* header 右上角导航 start*/
.guidance{z-index:20;float:right;margin-left:10px;display:inline;text-align:center;vertical-align:middle;height:27px;*height:27px; font-size:12px;}
.guidance li{border-right:solid 1px #000000;line-height:14px;padding:0 10px;margin-top:5px;float:left;}
.guidance li a{color:#000000;}
.guidance li a:hover{color:#fd5f00;}
.guidance li.no_border{border:none;}
/* header 右上角导航 end */


/* --Link01-- */
a:link {color: #000000; text-decoration:none;}
a:visited {color: #000000;text-decoration:none;}
a:hover {color: #2757bb; text-decoration:none;}
a:active {color: #000000;}


/* --Link02-- */
.gd a:link {color: #2757bb; text-decoration:none;}
.gd a:visited {color: #2757bb;text-decoration:none;}
.gd a:hover {color: #04327d; text-decoration:none;}
.gd a:active {color: #2757bb;}



/* Color  */
.cWhite,a.cWhite:link,a.cWhite:visited{ color:#fff; }
.cSgcc,a.cSgcc:link,a.cSgcc:visited {color:#8b181b;}
.cGray,a.cGray:link,a.cGray:visited {color:#d4d4d4;}
.cGray2,a.cGray2:link,a.cGray2:visited {color:#333;}



/* Font  */
.fB {font-weight: bold;}
.fN {font-weight:normal;}
.f12px{ font-size:12px;}
.f14px{ font-size:14px;}
.fE {font-family:Verdana, Arial, Helvetica, sans-serif;}

/* Header */
#header {height:50px;*height:50px;border:0px ;background:url(../../images/simap/header_bg_01.png) no-repeat 0 0;color:#005ba8; width:990px; margin:0px auto;}
#header a {color:#ffffff;}
#header input {border:1px solid #999999;color:#cccccc;font-size:12px;}
#header a:hover{color:#fe0000;}

/* Nav */

.topnav ul{float:left;list-style-type:none;list-style-image:none;}
.topnav li {float:left;position:relative;color:#ffffff !important}
.topnav a {color:#ffffff !important}
.topnav a:hover {color:#dafffc;font-weight:bold;}

.nav_index
{
	float:left;
	width:1000px;
	height:42px;
}

ul.topnav
{
	float:left;
	width:1000px;
	height:42px;
}
.topnav a
{
	float:left;
	height:42px;
	width:120px;
	background:transparent url(../../images/simap/menu.jpg) no-repeat scroll 0 0;
}
/* 首页menu01 */
ul.topnav a.menu01
{
	width:160px;
	padding-left:0px;
}
a.menu01:hover
{
	background-position: 0 -42px;
}

/* 中心介绍menu02 */
a.menu02
{
	background-position: -160px 0;
}
a.menu02:hover
{
	background-position: -160px -42px;
}

/* 科研机构menu03 */
a.menu03
{
	background-position: -280px 0;
}
a.menu03:hover
{
	background-position: -280px -42px;
}

/* 中心动态menu04 */
a.menu04
{
	background-position: -400px 0;
}
a.menu04:hover
{
	background-position: -400px -42px;
}

/* 学术团队menu05 */
a.menu05
{
	background-position: -520px 0;
}
a.menu05:hover
{
	background-position: -520px -42px;
}

/* 研究生培养menu06 */
a.menu06
{
    background-position: -640px 0;
}
a.menu06:hover
{
	background-position: -640px -42px;
}

/* 国际合作交流menu07 */
a.menu07
{
	width:120px;
	background-position: -760px 0;
}
a.menu07:hover
{
	background-position: -760px -42px;
}

/* 学术交流menu08 */
a.menu08
{
	background-position: -880px 0;
}
a.menu08:hover
{   
	background-position: -880px -42px;
}

/* 信息资源menu09 
a.menu09
{
	background-position: -740px 0;
}
a.menu09:hover
{
	background-position: -740px -42px;
}*/

/* 人才招聘menu10
a.menu10
{
	background-position: -830px 0;
}
a.menu10:hover
{
	background-position: -830px -42px;
} */

/* 联系我们menu11
ul.topnav a.menu11
{
	width:80px;
	background-position: -920px 0;
}
ul.topnav a.menu11:hover
{
	background-position: -920px -42px;
} */

ul.subnav
{
	float:left;
	display:none;
	left:1px;
	top:42px;
	width:120px;
	position:absolute;
	background:transparent url(../../images/simap/index/menu_bottom.png) no-repeat scroll 0 bottom;
	_background-image:none;
	padding-bottom:8px;
}

ul.subnav li
{
	clear:both;
	width:100px;
	float:none;
	display:block;
}

ul.subnav a
{
	background:transparent url(../../images/simap/index/menu_normal.png) repeat-x;
	height:26px;
	line-height:26px;
	text-align:center;
	width:120px;
	_background-image:none;
	_background-color:#A4A4A4;
}
ul.subnav a:hover
{
	text-decoration:none;
	background:transparent url(../../images/simap/index/menu_hover.gif) repeat-x scroll 0 0;
}

/*
.gjhzjl
{
   width:150px;
}
*/

/* AD 1000x210
#ad1000 {height:210px;*height:210px;}
#flash{height:210px;*height:210px; z-index:-1;background:url(../../images/simap/ccisr.jpg) center left no-repeat;}
background:url(../../images/simap/tou1.gif)  no-repeat;
*/

/* AD 132x184*/

#ad999{height:200px;*height:200px;}
#ad1000 {height:428px;*height:428px;}
#flash{float:left;height:300px;*height:300px; width:1000px;*width:1000px;z-index:-1;}
#flash01{height:184px;*height:184px; z-index:-1;float:right; padding:5px 5px 0px 5px; background-color:#ffffff; margin:7px 40px 5px 5px;;}
/*

/* AD 132x184*/
#ad1000_bsh {height:210px;*height:210px;}
#flash_bsh{height:210px;*height:210px; z-index:-1;background:url(../../images/simap/tou2.jpg)  no-repeat;}
#flash01_bsh{height:184px;*height:184px; z-index:-1;float:right; padding:5px 5px 0px 5px; background-color:#ffffff; margin:7px 40px 5px 5px;;}
/*
background:url(../../images/simap/ttt.png) center left no-repeat;
*/
/* AD 950x86 */
#ad986 {height:86px;*height:86px;bottom no-repeat;}


/* footer */
#footer {padding:5px;width:990px;height:200px;text-align:center;line-height:20px;margin-top:20px; margin-left: auto;margin-right: auto;padding-top: 10px; padding-bottom: 10px; background-color: #FFF;}
#foorter .slink{width:990px; margin-top: 45px;padding: 0px;font-size: 14px;color: #333333;}
.slink select {width: 327px;margin-top: 10px;}
#footer p {margin-top:25px;*margin-top:25px}


#footnav{ height:27px;color:#333; background-color:#01377f;margin-top:15px;*margin-top:5px;}
#footnav p {color:#ffffff;}
#footnav a {color:#ffffff;}
#footnav a:hover {color:#CC0000;}


/*footer_list*/
#footer_list {width:1000px;height:160px;text-align:center;line-height:20px;margin-top:15px;background: url(../../images/simap/lm_bg.gif) repeat;}
#footer_list p {margin-top:15px;*margin-top:5px;}

#footnav_list{ height:27px;color:#333; background-color:#01377f;margin-top:20px;}
#footnav_list p {color:#ffffff;}
#footnav_list p a {color:#ffffff;}
#footnav_list a:hover {color:#CC0000;}


#artibody IMG{vertical-align:;}

/*
.xiangguanwz{margin:0 auto;padding:20px;line-height:25px;}
.xiangguanwz ul li a{float:left;}
.xiangguanwz ul li span{float:right;}
*/
